table {
		width: 80%;
		font-family: arial;
}
caption {
		width: 80%;
		color: red;
		font: sans-serif;
		font-size: 16pt;
}

img {
	width: 80px;
	height: 65px;
}
td.talco {
	background-color: #FFFFFF;
}

td.yeso {
	background-color: #e6e6e6;
}

td.calcita {
	background-color: #cbcbcb;
}

td.fluorita{
	background-color: #aeaeae;
}

td.apatito {
	background-color: #9e9e9e;
}

td.ortosa {
	background-color: #8c8c8c;
}
td.cuarzo {
	background-color: #6d6d6d;
}

td.topacio {
background-color: #4b4a4a;
} 

td.corindón {
	background-color: #202020; 
}

td.diamante {
	background-color: #000000;
}